In [ ]:
import pandas as pd

In [2]:
groceries=pd.read_csv('C:\\Users\\User\\Downloads\\Assignments\\groceries.csv',header=None)

In [3]:
groceries.head()

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
groceries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9835 entries, 0 to 9834
Data columns (total 32 columns):
0     9835 non-null object
1     7676 non-null object
2     6033 non-null object
3     4734 non-null object
4     3729 non-null object
5     2874 non-null object
6     2229 non-null object
7     1684 non-null object
8     1246 non-null object
9     896 non-null object
10    650 non-null object
11    468 non-null object
12    351 non-null object
13    273 non-null object
14    196 non-null object
15    141 non-null object
16    95 non-null object
17    66 non-null object
18    52 non-null object
19    38 non-null object
20    29 non-null object
21    18 non-null object
22    14 non-null object
23    8 non-null object
24    7 non-null object
25    7 non-null object
26    6 non-null object
27    5 non-null object
28    4 non-null object
29    1 non-null object
30    1 non-null object
31    1 non-null object
dtypes: object(32)
memory usage: 2.4+ MB

In [12]:
record=[]
for i in range(0,9835):
        record.append([str(groceries.values[i,j]) for j in range(0,32)])

In [13]:
as_rules=apriori(record,min_support=0.002,min_confidence=0.05,min_lift=3,min_length=5)

In [14]:
as_df=pd.DataFrame(as_rules,columns=['itemsets','support','others'])

In [17]:
as_df.drop('others',axis=1,inplace=True)

In [18]:
as_df.head()

                                  itemsets   support
0  (Instant food products, hamburger meat)  0.003050
1                   (baking powder, sugar)  0.003254
2      (baking powder, whipped/sour cream)  0.004575
3                            (beef, flour)  0.002847
4                            (beef, herbs)  0.002847

In [ ]:
frq_items = apriori(record, min_support = 0.05, use_colnames = True)

In [22]:
rules = association_rules(as_df, metric ="lift")

KeyError: "frozenset({'Instant food products'})You are likely getting this error because the DataFrame is missing  antecedent and/or consequent  information. You can try using the  `support_only=True` option"

In [21]:

rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
print(rules.head())

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []

In [ ]:
as_result=pd.DataFrame(as_rules)

In [ ]:
as_result.head()

In [ ]:
print(len(as_result))

In [ ]:
frq_items = apriori(basket_France, min_support = 0.05, use_colnames = True) 
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False]) 
print(rules.head())

In [ ]:
store_data=pd.read_csv('C:\\Users\\User\\Downloads\\store_data.csv',header=None)

In [ ]:
store_data.head()

In [ ]:
store_data.info()

In [ ]:
records=[]
for i in range(0,7501):
        records.append([str(store_data.values[i,j]) for j in range(0,20)])

In [6]:
from apyori import apriori

In [ ]:
association_rules=apriori(records,min_support=0.0045,min_confidence=0.2,min_lift=3,min_length=2)

In [ ]:
association_results=list(association_rules)

In [ ]:
association_results.

In [ ]:
print(len(association_results))

In [ ]:
l=pd.DataFrame(association_results)

In [ ]:
l['ordered_statistics'][:][0]

In [ ]:
listRules

In [ ]:
#association_results
listRules = [list(association_results[i][0]) for i in range(0,len(association_results))]
support =    [str(list(d['ordered_statistics'][i])) for i in range(0,len(d))]

In [7]:
from mlxtend.frequent_patterns import association_rules

In [ ]:
frq_items = apriori(records,min_support=0.0045,min_confidence=0.2,min_lift=3,min_length=2)

In [ ]:
d=pd.DataFrame(c['ordered_statistics'])

In [ ]:
support

In [ ]:
#rules = association_rules(frq_items, metric ="lift", min_threshold = 3)

In [ ]:
df = pd.DataFrame.from_records(list(frq_items))

In [ ]:
#df

In [ ]:
association_results[2][1]