In [1]:
from pyspark import SparkContext

In [2]:
sc=SparkContext()

In [3]:
%%writefile example.txt
first line
second line
third line
fourth line

Writing example.txt

In [4]:
textfile=sc.textFile('example.txt')

In [5]:
textfile.count()

4

In [6]:
textfile.first()

'first line'

In [7]:
secfind=textfile.filter(lambda line:'second' in line)

In [8]:
secfind

PythonRDD[4] at RDD at PythonRDD.scala:53

In [9]:
secfind.collect()

['second line']

In [10]:
secfind.count()

1

In [11]:
%%writefile example2.txt
first
second line
the third line
then a fourth line

Writing example2.txt

In [12]:
sc.textFile('example2.txt')

example2.txt MapPartitionsRDD[7] at textFile at <unknown>:0

In [13]:
text_rdd=sc.textFile('example2.txt')

In [14]:
word=text_rdd.map(lambda x:x.split())

In [15]:
word.collect()

[['first'],
 ['second', 'line'],
 ['the', 'third', 'line'],
 ['then', 'a', 'fourth', 'line']]

In [16]:
text_rdd.collect()

['first', 'second line', 'the third line', 'then a fourth line']

In [17]:
text_rdd.flatMap(lambda x:x.split()).collect()

['first',
 'second',
 'line',
 'the',
 'third',
 'line',
 'then',
 'a',
 'fourth',
 'line']

In [18]:
%%writefile services.txt
#EventId    Timestamp    Customer   State    ServiceID    Amount
201       10/13/2017      100       NY       131          100.00
204       10/18/2017      700       TX       129          450.00
202       10/15/2017      203       CA       121          200.00
206       10/19/2017      202       CA       131          500.00
203       10/17/2017      101       NY       173          750.00
205       10/19/2017      202       TX       121          200.00

Writing services.txt

In [19]:
service=sc.textFile('services.txt')

In [20]:
service.take(2)

['#EventId    Timestamp    Customer   State    ServiceID    Amount',
 '201       10/13/2017      100       NY       131          100.00']

In [22]:
service.map(lambda x:x.split()).take(3)

[['#EventId', 'Timestamp', 'Customer', 'State', 'ServiceID', 'Amount'],
 ['201', '10/13/2017', '100', 'NY', '131', '100.00'],
 ['204', '10/18/2017', '700', 'TX', '129', '450.00']]

In [24]:
clean=service.map(lambda x:x[1:] if x[0]=='#' else x)

In [25]:
clean=clean.map(lambda x:x.split())

In [26]:
clean.collect()

[['EventId', 'Timestamp', 'Customer', 'State', 'ServiceID', 'Amount'],
 ['201', '10/13/2017', '100', 'NY', '131', '100.00'],
 ['204', '10/18/2017', '700', 'TX', '129', '450.00'],
 ['202', '10/15/2017', '203', 'CA', '121', '200.00'],
 ['206', '10/19/2017', '202', 'CA', '131', '500.00'],
 ['203', '10/17/2017', '101', 'NY', '173', '750.00'],
 ['205', '10/19/2017', '202', 'TX', '121', '200.00']]

In [28]:
pairs=clean.map(lambda lst:(lst[3],lst[-1]))

In [30]:
rekey=pairs.reduceByKey(lambda amt1,amt2:float(amt1)+float(amt2))

In [31]:
rekey.collect()

[('State', 'Amount'), ('NY', 850.0), ('TX', 650.0), ('CA', 700.0)]

In [35]:
step3=rekey.filter(lambda x:not x[0]=='State')

In [36]:
step3.collect()

[('NY', 850.0), ('TX', 650.0), ('CA', 700.0)]

In [37]:
step4=step3.sortBy(lambda x: x[1],ascending=False)

In [38]:
step4.collect()

[('NY', 850.0), ('CA', 700.0), ('TX', 650.0)]